<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <title>nissanViews</title>

    <script>
     function getData(date) {
      
        // 주소에 저장해둔 postId값 가져와라
        $.ajax({
          type: "GET",
          url: `/api/data/${date}`,
          data: {},
          success: function (response) {
            let name = response["result"].name;
            let totalCount = response["result"].totalCount;
            let temp_html = `<tbody>
                                <tr>
                                <th scope="row">${name}</th>
                                <td>${totalCount}</td>
                              </tr>
                            </tdoby>`;
            $("#tablee").replaceWith(temp_html);
          },
        });
      }
      
    </script>
  </head>
  <body>
    <h1>Nissan data</h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        날짜 목록
      </button>
      
      
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% for(let i = 0; i<result.length; i++){ %>
        <li><a class="dropdown-item" href="#" onclick="getData(this.text)"><%= result[i].name %></a></li>
        <% } %>
      </ul>
      
    </div>

    <table class="table" >
      <thead >
        <tbody>
          <tr>
            <th scope="col">현재 이용자수</th>
            <th scope="col">대기자수</th>
          </tr>
          <tr>
            <th scope="row"><%= count %></th>
            <td><%= length %></td>
          </tr>
          <tr>
            <th></th>
            <th></th>         
          </tr>
        </tbody>         
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Count</th>          
        </tr>
      </thead>
      
      <tbody id="tablee">
        <% for(let i = 0; i<result.length; i++){ %>
        <tr>
          <th scope="row"><%= result[i].name %></th>
          <td><%= result[i].totalCount %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>